.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
}
.topView {
  width: 100%;
  display: flex;
  height: 60%;
  column-gap: 10px;
}
.data, .player {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  border: 1px #376C5E solid;
  border-radius: 4px;
}
.data {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: none;
  row-gap: 5px;
}
.buttonGroup {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0 5px;
}
.buttonGroup > button {
  border: 1px #476A6F solid;
  outline: none;
  cursor: pointer;
  background: #8FB2B7;
  color: #DAE5E7;
  width: 80px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  border-radius: 2px;
  padding: 0;
}
.buttonGroup > button:hover {
  background: #202F31;
}
.buttonGroup > button:active {
  background: #202F31;
}
.jsonContainer {
  flex: 1;
  width: 100%;
  overflow: auto;
}
.bottomView {
  width: 100%;
  display: flex;
  height: 40%;
}