.container {
    width: 100%;
    height: 100%;
    padding: 10px;
    .layoutContainer {
        width: 100%;
        height: calc(50% - 2px);
    }
    .top {
        display: flex;
        .topLeft, .topRight {
            height: 100%;
            flex: 1;
        }
        .topLeft {
            padding: 0 10px;
        }
        .topDivider {
            width: 4px;
            background-color: #f0f0f0;
            cursor: col-resize;
            height: 100%;
        }
        .topRight {
            .player {
                height: 100%;
                width: 100%;
            }
        }
    }
    .divider {
        width: 100%;
        height: 4px;
        background-color: #f0f0f0;
        cursor: row-resize;
    }
}